.navbar  {
 
  height: 30px;
  margin-bottom: 3px;
background-color:#013343;
min-height: 50px;
 
}

.navbar-inverse .navbar-brand .navbar-fixed-top {
color: #fff !important;
 
 
}
div .container {
color: #ffffff;
background-color:#013343;
height:30px;

}
   .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
.navbar-inverse .navbar-nav > li > a {
color: #F8F3F3;
}

.navbar-text {
color: #fff !important;
}
.navbar-brand {
color: #fff !important;
}
